.grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 4vh;
  justify-content: center;
  overflow: scroll;
}

/* body {
  /* background-image: url("https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"); */
/* background-repeat: no-repeat, repeat; */

div.header {
  text-align: center;
  font-size: 3.9rem;
  font-weight: bold;
  padding: 40px;
  font-family: Lobster, Monospace;
}

#resCard {
  /* background: rgb(255, 252, 223);
  background: linear-gradient(
    157deg,
    rgba(255, 252, 223, 0.9794292717086834) 0%,
    rgba(182, 237, 238, 1) 51%,
    rgba(235, 165, 237, 0.9906337535014006) 100%
  ); */
  /* border: 1px solid black; */
  background: #f2f7f8;
  /* box-shadow: 5px 10px #b0b0b3; */
  border-style: outset;
  /* border: solid 0.1px black; */
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  height: 42vh;
  border-radius: 5px;
  /* width: 50vh; */
  overflow: scroll;
}

.res-img {
  height: 25vh;
  width: 50vh;
  /* filter: contrast(80%); */
}

.res-img:hover {
  transform: scale(1.02);
}

.reviewlist {
  font-size: 2.2vh;
  text-align: left;
  font-family: Monospace;
}

/* ################### */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal-review {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  width: 90vh;
  max-width: 80%;
}

.modal-review.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-review-header {
  padding: 2vh 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-review-header .title {
  font-size: 3.25rem;
  font-weight: bold;
}

.modal-review-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.24rem;
  font-weight: bold;
}

.modal-review-body {
  padding: 15px 20px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#createUserForm {
  border: solid;
  margin-top: 2vh;
  padding: 20px;
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  top: 50%;
  left: 50%;
}

.header.active {
  visibility: hidden;
}

.createUserForm.active {
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0);
}
